.payment-method-additional-data .customer-dob label {
    width: 100%;
}

.payment-method-additional-data .customer-dob select {
    display: inline-block;
    width: 90px;
}

.payment-method-additional-data .customer-dob select.dob-year {
    width: 105px;
}

.payment-method-additional-data .terms-and-conditions .label {
    display: inline;
}

h1.afterpay-test-mode {
    text-align: center;
    background-color: #E02B27;
    color: #FFFFFF;
}

.payment-method label img.payment-icon.smaller-icon {
    width: 68px;
}

#co-payment-form .payment-method .dob-required {
    position: relative;
}

#co-payment-form .payment-method .dob-required div.mage-error {
    position: absolute;
}
